<h1> Advanced Search</h1>
<%= form_for @search do |s| %>

	<div class="field">
		<%= s.label :keywords %> <br />
		<%= s.text_field :keywords %>
	</div>

	<div class="field">
		<%= s.label :category %> <br />
		<%= s.select :category, options_for_select(@categories), :include_blank => true %>
	</div>

	<div class="field">
		<%= s.label :title %> <br />
		<%= s.text_field :title %>
	</div>

	<div class="field">
		<%= s.label :description %> <br />
		<%= s.text_field :description %>
	</div>

	<div class="field">
		<%= s.label :location %> <br />
		<%= s.text_field :location %>
	</div>

	<div class="actions">
		<%= s.submit "Search" %>
	</div>
	<% end %>

	<p><%= link_to "Back", recommendations_path %></p>